.header {
  display: flex;
  flex-direction: row;
}

.header .img-user {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.header .user-name {
  font-weight: normal;
  font-size: 1.1rem;
}

.header .user-techs {
  font-size: .9rem;
  color: #999;
  margin-top: 5px;
}

.user-details-container {
  margin-top: 5px;
  color: #666;
  font-size: .9rem;
}

.user-details-container .github-url {
  color: rgb(175, 8, 175);
  margin-top: 10px;
  text-decoration: none;
}

.github-url:hover {
  color: rgb(138, 5, 138);
}

.bio {
  line-height: 1.4rem;
}

.c-pointer {
  cursor: pointer;
}

.float-right {
  float: right;
}

.close-icon {
  width: 10px;
  cursor: pointer;
  display: flex;
  margin-left: auto;
}

.info-user {
  flex-grow: 1;
}

.opt-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 10px;
  align-items: flex-end;
  height: fit-content;
  padding-bottom: 5px;
}

.opt-container .circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: lightgray;
  margin-top: 2px;
}

.popup-container {
  position: absolute;
  background-color: white;
  padding: 10px;
  margin-left: -40px;
  border-radius: 5px;
  box-shadow: 5px 3px 8px #00000047;
}

.list-group {
  list-style: none;
}

.list-group .list-item {
  font-size: .9rem;
  color: #000000b8;
  padding: 10px 10px;
  border-bottom: 1px solid #f1f1f1;
  padding-right: 30px;
}

.list-group .list-item:hover {
  cursor: pointer;
  color: #000;
  background-color: #80808014;
}